@media screen and (min-width: 768px) {	
	
		
	nav {
		float: center;
		display: inline;
		margin: auto;
		text-transform: uppercase;
		font-weight: strong;
		opacity: 0.8;
		padding-right: 0px;
		}
	
	nav ul {
		list-style-type: none;
		padding-right: 0px;
	}

	nav li {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	li {
		list-style-position: inside;
		} 
		
	blockquote {
		margin-top: 10px;
 		margin-bottom: 10px;
 		margin-left: 250px;
  		padding-left: 7px;
  		padding-right: 30px;
  		border-left: 3px solid #1D471D;
	}
		
	img {
		float: right;
		display: block;
		margin-right: 10px;
		margin-bottom: 10px;
		border-style: groove;
		border-color: #1D471D;
		border-width: 5px;
		}		
		
	#content {	
		text-align: justify;
		float: left;
		padding: 5px;
		}	
		
	}	
/*
 * 500px and wider
 */
@media screen and (min-width: 500px) {

nav {
		float: center;
		display: block;
		margin: auto;
		text-transform: uppercase;
		font-weight: strong;
		opacity: 0.8;
		}
	
	nav ul {
		list-style-type: none;
	}

	nav li {
		padding-left: 15px;
		padding-right: 15px;
	}


	img {
		float: left;
		display: block;
		margin-right: 10px;
		margin-bottom: 10px;
		border-style: groove;
		border-color: #1D471D;
		border-width: 5px;
		}		
		
	#content {	
		text-align: justify;
		float: right;
		padding: 5px;
		}	
		
	}	


/*
 * 300px and wider
 */
@media screen and (min-width: 300px) {

nav {
		display: block;
		float: left;
		margin: auto;
		text-transform: uppercase;
		font-weight: strong;
		opacity: 0.8;
		}
	
	nav ul {
		list-style-type: none;
	}
		
	img {
		display: block;
		margin-right: 10px;
		margin-bottom: 10px;
		border-style: groove;
		border-color: #1D471D;
		border-width: 5px;
		}		
		
	#content {	
		text-align: justify;
		float: right;
		padding: 5px;
		}

}



/*
 * Print styles
 */
@media print {		
nav {
		float: center;
		display: inline;
		margin: auto;
		color: black;
		text-transform: uppercase;
		font-weight: strong;
		}
	
	nav ul {
		list-style-type: none;
	}
	
	a {
		color: black;
		}

	nav li {
		padding-left: 15px;
		padding-right: 15px;
	}
		
	li {
		list-style-position: inside;
		} 
	
	h1 {
		color: black;
		}
	
		
	img {
		float: left;
		display: block;
		margin-right: 10px;
		margin-bottom: 10px;
		border-style: groove;
		border-width: 5px;
		}		
		
	#content {	
		color: black;
		text-align: justify;
		}

	#footer	{
		border-top-style: solid;
		color: black;
		font-size: 0.8em;
		clear: both;
		}

}