	/*
	
	selector {
		property: value;
		property: value;
		}
		
	*/
	
/*
 * Default styles
 */
 

	html {
		padding-top:25px;
		padding-bottom:25px;
		padding-right:50px;
		padding-left:50px;
		}
		
	h1 {
		color: #1D471D;
		text-align: center;
		}
	
	body {
		background-image: url(groovepaper.png);
		background-color: #FFFFFF;
		background-attachment: fixed;
		background-position: center;
		font-family:'Roboto Condensed', sans-serif;
		}
		
	nav ul {
	list-style-type: none;
	}
	
	
	nav li {
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
	}

		
	a {
		color: #197519;
		}
					
	
	nav {
		display: inline;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		opacity: 0.8;
		padding-left: 15px;
		padding-right: 15px;
		}
		
	
			
	#content {	
		color: #2A662A;
		text-align: justify;
		float: right;
		padding: 20px;
		font-size: 16px;
		}
	
	blockquote {
		font-style: italic;
		}	
		
		
	#footer	{
		width: 80%;
		border-top-style: solid;
		color: #003300;
		font-size: 0.8em;
		clear: both;
		}
