/*
 * Default styles
 */



header {
	background-color: #d5d5d5;
	postion: fixed;
	margin: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 41px;
	width: 100%;
	}
	
nav {
	width: 100%;
	background-color: d5d5d5;
	}	
	
nav a {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: strong;
	color: #c06000;
	width: 100%;
	}	
 	
 nav ul {
 	list-style-type: none;
 	}
 	
 nav li {
 	background-color: #d5d5d5;
 	display: inline;
 	position: relative;
 	padding-left: 30px;
 	padding-right: 30px;
 	padding-bottom: 10px;
 	float: right;
 	}
 	
 image {
	display: block;
	margin-right: 40px;
	margin-left: auto;
	margin-bottom: 10px;
	}
 	
 h1, h2 {
 	font-family: Optima;
 	color: #223b1b;
 	}	
 	
 body {
 	font-family: 'Roboto Condensed', sans-serif;
 	color: #608020;
 	margin-left: 25px;
 	}
 	
 #content {
 	float: left;
 	text-align: justify;
	padding: 5px;
	clear: right;
 	}	
 
image {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: 50px;
	margin-bottom: 10px;
	}
	
#footer	{
	width: 80%;
	border-top-style: solid;
	color: #003300;
	font-size: 0.8em;
	clear: both;
	}

